<div class="jumbotron">
  <h1><%= @vinyl.title %> </h1>
  <h1><%= @vinyl.artist %> </h1>
  <h1><%= @vinyl.year %> </h1>
  <h1><%= @vinyl.label %> </h1>
  <br>
  <br>
  <br>
  <div class="jumbotron">
    <% if @reviews.present? %>
      <h2>Reviews</h2>
      <div class='col-md-12'>
        <%= render @reviews %>
      </div>
    <% end %>
    <div class='col-md-12'>
      <h3>Leave a review:</h3>
      <%= render 'reviews/form', locals: {review: @review, vinyl: @vinyl} %>
    </div>
  </div>
</div>
</center>
