<div class="row">
  <h1>Title:</h1>
  <h3><%= @vinyl.title %> </h3>
  <h1>Artist:</h1>
  <h3><%= @vinyl.artist %> </h3>
  <h1>Year:</h1>
  <h3><%= @vinyl.year %> </h3>
  <h1>Label:</h1>
  <h3><%= @vinyl.label %> </h3>
  <br>
  <div class="row">
    <% if @reviews.present? %>
      <h1>Reviews</h1>
      <div class='col-md-12'>
        <%= render @reviews %>
      </div>
    <% end %>
    <div class='col-md-12'>
      <h2>Leave a review:</h2>
      <%= render 'reviews/form', locals: {review: @review, vinyl: @vinyl} %>
    </div>
  </div>
</div>
