<div class = "jumbotron">
  <div class = "container">
    <center><h1><%= @user.name %></h1></center>
    <center><h2>My Collection</h2></center>
<center><%= link_to "ADD RECORD", new_user_vinyl_path(current_user.id) %></center>
  <% @user_vinyls.each do |vinyl| %>
  <div class= "vinyl">
    <h4><%= vinyl.title %></h4>
    <%= link_to "Show", user_vinyl_path(current_user.id, vinyl.id) %>
    <%= vinyl.artist %> <br>
    <%= vinyl.year %> <br>
    <%= vinyl.label %> <br>
  </div>
  <% end %>
  </div>
  </div>
  <br>
  <br>
  </div>
</div>



